@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- Brandon Roy, application is for an assinment as an e-commerce application-->
<p>Games* is a reatiler for pc gaming and electronics</p>
<p>
    You can purchuse gaming equipment from us directly and ship it to your home.
    Payments can be made using Visa or mastercard
</p>

<img src="@Url.Content("~/Content/Images/companyLogo.png")" width="400" />
