@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- Brandon Roy,200210374, August 19 2016 application is for an assinment as an e-commerce application-->
<p>Games* is a retailer for pc gaming and electronics</p>
<p>
    You can purchase gaming equipment from us directly and ship it to your home.
    Payments can be made using Visa or mastercard
</p>

<img src="@Url.Content("~/Content/Images/companyLogo.png")" width="400" />
