@{
   
}

<!DOCTYPE html>
<!-- Brandon Roy,200210374, August 19 2016 application is for an assinment as an e-commerce application-->
<!-- This page is used to show the user that the order is confirmed-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>order processed</title>
</head>
<body>
    <div>
    <h1>Thank you for your order </h1>
        <h1>Your order will be processed shortly</h1>
        <p><a href="homepage" class="btn btn-primary btn-lg">Home &raquo;</a></p>
    </div>
</body>
</html>
