@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><a href="final" class="btn btn-primary btn-lg">Finalize Order &raquo;</a></p>
    </div>
</body>
</html>
