@{
    
}

<!DOCTYPE html>
<!-- Brandon Roy,200210374, August 19 2016 application is for an assinment as an e-commerce application-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
