@{

}

<!DOCTYPE html>
<!-- Brandon Roy,200210374, August 19 2016 application is for an assinment as an e-commerce application-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Your orders</h2>



        <!--If user is authenticated the checkout button will show-->
        @if (Context.User.Identity.IsAuthenticated)
        {



            <p><a href="checkout" class="btn btn-primary btn-lg">Checkout &raquo;</a></p>
        }


    
    </div>
</body>
</html>
